@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5
}


@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-2 text-sm text-black bg-gray-50 rounded px-4 py-3 mb-4 mt-3 border-1 border-slate-500 outline-none;
}
.input-box-dark{
  @apply w-full flex justify-between gap-2 text-sm text-white bg-slate-900 rounded px-4 py-3 mb-4 mt-3 border-1 border-gray-500 outline-none;
}

.btn-primary{
  @apply flex items-center gap-1.5 text-xs font-medium text-gray-900 whitespace-nowrap bg-gray-50 px-4 py-2 rounded-full border border-gray-300  hover:bg-black hover:text-white cursor-pointer;
}
.btn-primary-dark {
  @apply flex items-center gap-1.5 text-xs font-medium text-white whitespace-nowrap bg-gray-800 px-4 py-2 rounded-full border border-gray-300  hover:bg-white hover:text-black cursor-pointer;
}

.card{
  @apply bg-white p-6 shadow-md shadow-gray-300 border border-gray-200/50  rounded-xl transition-all duration-300 
}
.card-dark{
  @apply bg-[#11131E] p-6  shadow-gray-800 border border-gray-300/10  rounded-xl transition-all duration-300 shadow-md
}
.graph-card{
  @apply p-6 rounded-2xl transition-all duration-300 
}
.graph-card-dark{
  @apply p-6 rounded-2xl transition-all duration-300 
}

.add-btn{
  @apply flex items-center gap-1.5 text-xs font-medium text-gray-900 whitespace-nowrap bg-gray-50 px-4 py-2 rounded-lg border border-black  hover:bg-black hover:text-white cursor-pointer;
  
}
.delete-btn{
  @apply flex items-center gap-1.5 text-xs font-medium text-red-500 whitespace-nowrap px-4 py-2 rounded-lg border-1 border-red-500  hover:bg-red-500 hover:text-white cursor-pointer;
  
}

.lightmode-btn{
  @apply flex items-center gap-1.5 text-xs font-medium text-gray-900 whitespace-nowrap bg-gray-50 px-4 py-2 rounded-full border border-gray-300  hover:bg-black hover:text-white cursor-pointer;

}
.darkmode-btn{
  @apply flex items-center gap-1.5 text-xs font-medium text-white whitespace-nowrap bg-gray-900 px-4 py-2 rounded-full border border-gray-600  hover:bg-white hover:text-gray-400 cursor-pointer;

}